<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2">
            &nbsp;
        </div>
        <div class="col-sm-3">
            <h4>Run Test</h4>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-11">
                        <select class="col-sm-11 custom-select">
                            <option selected>Select Test</option>
                            <option value="1">Enrollment Primary Spoken Language</option>
                            <option value="2">Shop Million Dollar Club</option>
                            <option value="3">DLM Columns Gap Report</option>
                            <option value="4">DLM Auto Orders On Hold Report</option>
                            <option value="5">DLM Direct Link Top Reports</option>
                            <option value="6">DLM Page Size Close to Title Report</option>
                            <option value="7">Event Shopping Cart Login</option>
                            <option value="8">Event Shopping Cart Logout</option>
                            <option value="9">Event Shopping Cart Search for Valid Customer</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-11">
                        <select class="col-sm-11 custom-select">
                            <option selected>Select Environment</option>
                            <option value="1">Development</option>
                            <option value="2">Test</option>
                            <option value="3">Stage</option>
                            <option value="4">Production</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-11">
                        <select class="col-sm-11 custom-select">
                            <option selected>Select Destination</option>
                            <option value="1">Local</option>
                            <option value="2">Test Grid</option>
                            <option value="3">Cloud</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-11">
                        <select class="col-sm-11 custom-select">
                            <option selected>Select Load</option>
                            <option value="1">Small Load, Slow Ramp Up</option>
                            <option value="2">Small Load, Medium Ramp Up</option>
                            <option value="3">Small Load, Fast Ramp Up</option>
                            <option value="4">Medium Load, Slow Ramp Up</option>
                            <option value="5">Medium Load, Medium Ramp Up</option>
                            <option value="6">Medium Load, Fast Ramp Up</option>
                            <option value="7">Big Load, Slow Ramp Up</option>
                            <option value="8">Big Load, Medium Ramp Up</option>
                            <option value="9">Big Load, Fast Ramp Up</option>
                        </select>
                    </div>
                </div>
                <div  class="form-group">
                    <div class="col-sm-offset-5 col-sm-2">
                        <button (click)="runHubTest()" type="submit" class="btn btn-default">Run Test</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-sm-6">
            &nbsp;
        </div>
    </div>
</div>



